@import "vars";
@import "reset";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 80px;
  }

  &__list-link {
    font-size: 16px;
    color: $default;
    font-weight: 500;
    display: inline-block;
  }

  &__list-link::after {
    content: "";
    display: block;
    background-color: #5555fc;
    width: 0%;
    height: 3px;
    transition: width 0.3s ease-in-out;
  }

  &__list-link:hover:after,
  &__list-link:focus:after {
    width: 100%;
  }

  &__phone {
    color: $default;
    position: relative;
    padding-right: 30px;
    font-weight: 500;
    font-size: 16px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icon_phone.svg);
      width: 15px;
      height: 15px;
      right: 0;
    }
  }

  &__link-logo {
    width: 40px;
    height: 40px;
    margin-top: 6px;
  }

  &__btn {
    display: none;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
}

.rightside-menu {
  background: linear-gradient(to bottom right, #161616 60%, #4f4feb);
  position: absolute;
  z-index: 15;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 280px;
  max-height: 385px;
  width: 100%;
  background-color: #161616;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all 0.5s;
  &.rightside-menu--close {
    display: none;
  }
  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80px;
    margin: 0 auto;
  }

  &__list-link {
    color: #fff;
  }

  &__list-link::after {
    content: "";
    display: block;
    background-color: #5555fc;
    width: 0%;
    height: 3px;
    transition: width 0.3s ease-in-out;
  }

  &__list-link:hover:after,
  &__list-link:focus:after {
    width: 100%;
  }
}

.top {
  margin-bottom: 120px;
  margin-top: -35px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 55px;
  }

  &__content {
    margin-top: 55px;
  }

  &__content-title {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 41px;
    line-height: 54px;
    min-width: 401px;
  }

  &__content-text {
    font-size: 32px;
    margin-bottom: 63px;
    padding-left: 53px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/top-keyboard.svg);
      width: 37px;
      height: 37px;
      left: 0;
    }
  }

  &__content-btn {
    display: block;
    @extend %button;
    padding: 25px 15px;
    width: 219px;
  }
}

.problems {
  position: relative;
  &__inner {
    display: flex;
    gap: 350px;
  }

  &__title {
    @extend %title-style;
    max-width: 555px;
    margin-top: 70px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/problems-box.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      top: -60px;
      width: 1308px;
      height: 545px;
      margin: 35px -80px;
    }
  }

  &__box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
  }

  &__list-item {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: right;
    width: 150px;
    margin: 0 auto;
    opacity: 0.24;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      margin-left: 16px;
    }
  }

  &__list-item--active {
    color: $default;
    opacity: 1;
  }

  &__list-item--word::after {
    background-image: url(../images/icon-world.svg);
    top: 50px;
  }

  &__list-item--setting::after {
    background-image: url(../images/icon-settings-active.svg);
    width: 21px;
    height: 21px;
    top: 134px;
  }

  &__list-item--design::after {
    background-image: url(../images/icon-design-active.svg);
    top: 214px;
  }

  &__list-item--document::after {
    background-image: url(../images/icon-document-active.svg);
    top: 300px;
    width: 25px;
    height: 25px;
  }

  &__list-item--error::after {
    background-image: url(../images/icon-error-active.svg);
    top: 398px;
  }

  &__dropdown {
    text-align: right;
    width: 465px;
    margin: -129px 177px;
    display: none;
  }

  &__dropdown--active {
    display: block;
  }

  &__dropdown-title {
    font-size: 24px;
    padding-bottom: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  &__dropdown-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.7;
  }

  &__solve {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 245px;
  }

  &__solve-text {
    font-size: 24px;
    width: 554px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
  }

  &__solve-btn {
    @extend %button;
    padding: 26px;
    width: 250px;
    margin: 50px auto;
  }
}

.help {
  margin-bottom: 100px;
  margin-top: 100px;
  &__title {
    @extend %title-style;
    width: 462px;
    margin: 0 auto;
    margin-bottom: 120px;
    text-align: center;
    word-wrap: break-word;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/help-mouse.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      margin: 0 auto;
      z-index: -2;
      width: 100%;
      height: 384px;
    }
  }

  &__list-item {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    width: 310px;
    color: rgba(255, 255, 255, 0.72);
    margin: 0 auto;
  }

  &__list-item:nth-child(odd) {
    text-align: right;
    margin-left: 125px;
  }

  &__list-item:nth-child(1),
  &__list-item:nth-child(2) {
    margin-top: 85px;
  }

  &__list-item:nth-child(3),
  &__list-item:nth-child(4) {
    margin-top: 15px;
  }

  &__list-white {
    font-weight: 500;
    color: #fff;
  }
}

.services {
  background-color: #fff;
  min-height: 700px;
  &__title {
    @extend %title-style;
    text-align: center;
    width: 512px;
    margin: 0 auto;
    color: #5555fc;
    span {
      color: black;
    }
    padding-top: 90px;
    padding-bottom: 120px;
  }

  &__box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    width: 344px;
    border-radius: 40px;
    border: 4px solid rgba(22, 22, 22, 0.08);
    line-height: 20px;
    padding: 22px 44px;
    color: black;
    word-wrap: break-word;
    font-weight: 500;
    text-align: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 52px;
      height: 52px;
      top: -66px;
      left: 140px;
    }
    span {
      color: black;
      opacity: 0.6;
      font-weight: 500;
    }
  }

  &__list-item--setting::after {
    background-image: url(../images/icon-setting-blue.svg);
    width: 53px;
  }

  &__list-item--maintenance::after {
    background-image: url(../images/icon-joystick.svg);
    width: 776px;
    height: 107px;
    top: -66px;
    left: -221px;
  }

  &__list-item--delivery::after {
    background-image: url(../images/icon-auto.svg);
    width: 53px;
  }

  &__list-item--software::after {
    background-image: url(../images/icon-keyboard.svg);
    width: 53px;
    height: 53px;
    top: 98px;
  }

  &__list-item--flash::after {
    background-image: url(../images/icon-flash.svg);
    width: 776px;
    height: 109px;
    top: 42px;
    left: -222px;
  }

  &__list-item--marketing::after {
    background-image: url(../images/icon-smartphone.svg);
    width: 53px;
    height: 53px;
    top: 85px;
  }
}

.stages {
  background: linear-gradient(to top right, #161616 70%, #4f4feb);
  &__title {
    @extend %title-style;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    counter-reset: number;
    margin-left: 96px;
  }

  &__list-item {
    margin: 0 auto;
    position: relative;
  }

  &__list-item::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    color: $title;
    font-size: 24px;
    font-weight: 900;
    top: 142px;
    left: -58px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 24px;
    margin-top: 90px;
  }

  &__item-text {
    font-size: 18px;
    font-weight: 300;
    width: 350px;
    opacity: 0.6;
    line-height: 25px;
  }
}

.request {
  margin-top: 110px;
  &__inner {
    display: flex;
    padding-top: 90px;
  }
  &__left-title {
    @extend %title-style;
    margin-bottom: 32px;
  }
  &__left-text {
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
    width: 744px;
    span {
      opacity: 0.56;
      color: $default;
    }
  }

  &__right-text {
    width: 530px;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    word-wrap: break-word;
    margin-bottom: 53px;
  }
  &__form-input {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    width: 530px;
    border: none;
    border-bottom: 2px solid $title;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    &::placeholder {
      color: #fff;
      opacity: 0.56;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__right-form {
    display: flex;
    flex-direction: column;
  }
  &__form-area {
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid rgb(255, 255, 255, 0.16);
    resize: none;
    width: 530px;
    height: 122px;
    padding: 30px 80px 24px 40px;
    margin-bottom: 50px;
    color: #fff;
    font-weight: 500;
    &::placeholder {
      color: #fff;
      opacity: 0.56;
      font-size: 16px;
      font-weight: 300;
    }
  }
  &__form-btn {
    @extend %button;
    width: 219px;
    padding: 26px 16px;
  }
}

.footer {
  background: linear-gradient(to bottom left, #161616 70%, #4f4feb);
  padding-top: 85px;
  padding-bottom: 55px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-logo {
    width: 45px;
    height: 45px;
  }

  &__list-item {
    text-align: center;
    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }

  &__email {
    color: rgba(255, 255, 255, 0.56);
    font-weight: 300;
  }

  &__phone {
    color: #fff;
    font-weight: 500;
  }

  &__social {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
  .top {
    &__inner {
      justify-content: flex-start;
      margin-left: 0;
    }

    &__content-title {
      font-size: 40px;
      margin-bottom: 41px;
    }

    &__content-text {
      font-size: 30px;
      margin-bottom: 55px;
    }

    &__content-btn {
      width: 200px;
      font-size: 16px;
    }

    &__img {
      max-width: 70%;
      margin-left: 50px;
    }
  }

  .problems {
    &__title {
      font-size: 30px;
      margin-top: 20px;
      &::before {
        width: 1196px;
        margin-top: 0;
      }
    }

    &__inner {
      gap: 248px;
    }

    &__box-list {
      margin-top: -4px;
      gap: 35px;
    }

    &__list-item {
      &::after {
        margin-top: -45px;
      }
      &--document::after {
        top: 288px;
      }
      &--error::after {
        top: 378px;
      }
      &--design::after {
        top: 206px;
      }
    }

    &__dropdown-title {
      font-size: 20px;
    }

    &__dropdown-text {
      font-size: 16px;
    }

    &__solve-text {
      font-size: 22px;
      width: 545px;
    }

    &__solve-btn {
      padding: 20px 0;
      width: 240px;
      margin: 40px auto;
      font-size: 16px;
    }
  }

  .help {
    margin-bottom: 90px;
    margin-top: 48px;
    &__title {
      margin-bottom: 48px;
      font-size: 30px;
    }
    &__list-item {
      font-size: 14px;
    }

    &__list::after {
      background-position: -100% -1%;
      z-index: -2;
      width: 940px;
      height: 371px;
    }

    &__list-item:nth-child(odd) {
      margin-left: 86px;
    }
  }

  .services {
    &__title {
      padding-bottom: 102px;
    }

    &__box-list {
      gap: 88px;
      justify-content: center;
    }

    &__list-item {
      &--maintenance {
        padding: 12px 44px;
      }

      &--maintenance::after {
        background-image: url(../images/icon-joystick-min.svg);
        width: 52px;
        height: 52px;
        top: -66px;
        left: 135px;
      }

      &--flash::after {
        background-image: url(../images/icon-flash-min.svg);
        width: 53px;
        height: 53px;
        top: -66px;
        left: 140px;
      }

      &--marketing::after {
        top: -66px;
      }

      &--software::after {
        top: -66px;
      }
    }
  }

  .stages {
    &__list {
      margin-left: 100px;
    }

    &__title {
      padding-top: 40px;
      font-size: 30px;
    }

    &__list-item::before {
      font-size: 22px;
      top: 105px;
    }

    &__item-title {
      font-size: 22px;
      margin-bottom: 22px;
      margin-top: 55px;
    }

    &__item-text {
      font-size: 16px;
      width: 340px;
    }
  }

  .request {
    &__inner {
      padding-top: 35px;
    }

    &__left-title {
      margin-bottom: 30px;
    }

    &__left-text {
      font-size: 16px;
      width: 600px;
    }

    &__right-text {
      width: 500px;
      font-size: 16px;
    }

    &__form-input {
      width: 500px;
      padding-bottom: 22px;
    }

    &__form-area {
      width: 500px;
      height: 120px;
      padding: 16px 36px 15px 32px;
    }

    &__form-btn {
      width: 210px;
      padding: 24px 14px;
      font-size: 16px;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 900px;
  }
  .top {
    &__img {
      max-width: 62%;
      margin-left: 60px;
    }

    &__content-title {
      line-height: 38px;
      min-width: 380px;
      font-size: 28px;
      margin-bottom: 25px;
    }

    &__content-text {
      font-size: 26px;
      margin-bottom: 38px;
    }

    &__content-btn {
      width: 180px;
      font-size: 16px;
      padding: 20px 10px;
    }
  }

  .problems {
    &__title {
      font-size: 28px;
    }

    &__title::before {
      width: 1126px;
      margin-left: -137px;
    }

    &__dropdown {
      width: 450px;
      margin: -143px 54px;
    }
  }

  .help {
    &__list {
      gap: 64px;
      &::after {
        background-position: -100% -1%;
        width: 912px;
        height: 319px;
      }
    }

    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }

    &__list-item {
      font-size: 14px;
      text-align: center;
      &:nth-child(odd) {
        margin-left: 26px;
      }
      &:nth-child(even) {
        margin-left: 88px;
      }
    }
  }

  .services {
    padding-bottom: 35px;
  }

  .stages {
    &__list {
      grid-column-gap: 40px;
    }

    &__item-text {
      font-size: 15px;
      width: 305px;
    }

    &__list-item::before {
      font-size: 20px;
      left: -43px;
    }
  }

  .request {
    &__left-title {
      font-size: 30px;
    }

    &__left-text {
      font-size: 16px;
      width: 465px;
    }

    &__form-input {
      width: 448px;
      padding-bottom: 14px;
      &::placeholder {
        font-size: 16px;
      }
    }

    &__form-area {
      width: 448px;
      height: 115px;
    }

    &__form-btn {
      width: 190px;
      padding: 22px 14px;
    }
  }
}

@media (max-width: 1180px) {
  .top__img {
    margin-left: 20px;
  }

  .problems {
    &__title::before {
      max-width: 998px;
      margin-left: -72px;
    }

    &__list-item {
      font-size: 14px;
      line-height: 20px;
      width: 130px;
      font-weight: 500;
      width: 200px;
      &--document::after {
        top: 264px;
      }
      &--error::after {
        top: 348px;
      }

      &--design::after {
        top: 192px;
      }

      &--setting::after {
        top: 121px;
      }
    }

    &__inner {
      gap: 108px;
    }

    &__dropdown-title {
      font-size: 18px;
      padding-bottom: 10px;
      line-height: 25px;
    }

    &__dropdown {
      margin-top: -54px;
    }

    &__box-list {
      gap: 32px;
    }
  }
}

@media (max-width: 1070px) {
  .top__img {
    margin-left: -10px;
  }
  .problems {
    &__inner {
      flex-direction: column;
      gap: 23px;
    }

    &__list-item {
      margin: 0;
      &--word::after,
      &--document::after,
      &--error::after,
      &--design::after,
      &--setting::after {
        display: none;
      }
    }

    &__title {
      font-size: 24px;
      margin: 0 auto;
      text-align: center;
      &::before {
        display: none;
      }
    }

    &__box-list {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      gap: 40px;
    }

    &__dropdown {
      width: 450px;
      margin: 49px auto;
      text-align: center;
    }

    &__solve {
      margin-top: 122px;
    }
  }

  .request {
    &__right-text {
      width: 450px;
      font-size: 14px;
    }

    &__form-input {
      width: 405px;
      padding-bottom: 12px;
    }

    &__form-area {
      width: 410px;
      height: 106px;
      margin-bottom: 38px;
    }

    &__form-btn {
      width: 172px;
      padding: 20px 13px;
    }
  }
}

@media (max-width: 980px) {
  .container {
    width: 800px;
  }

  .top__img {
    margin-left: -50px;
  }

  .problems__solve {
    margin-top: 88px;
  }

  .help__list::after {
    background-position: -1% -3%;
    width: 800px;
    height: 296px;
  }

  .help {
    &__list-item {
      font-size: 12px;
      &:nth-child(odd) {
        margin-left: -5px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 73px;
      }
    }
  }

  .services {
    padding-bottom: 45px;
  }

  .stages {
    &__list {
      grid-column-gap: 85px;
    }

    &__item-text {
      font-size: 14px;
      width: 267px;
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 19px;
      margin-top: 40px;
    }

    &__list-item::before {
      top: 88px;
    }
  }

  .request {
    margin-top: 18px;
    &__right-text {
      width: 676px;
      margin-bottom: 30px;
    }

    &__inner {
      flex-direction: column;
    }

    &__left-text {
      display: none;
    }

    &__left-title {
      text-align: center;
    }

    &__left-img {
      display: none;
    }

    &__right {
      margin: 0 auto;
    }

    &__form-input::placeholder {
      font-size: 12px;
    }

    &__form-area {
      width: 404px;
      height: 88px;
      margin-bottom: 32px;
      padding: 16px 23px 11px 16px;
    }

    &__form-btn {
      width: 172px;
      padding: 20px 13px;
      margin: 18px auto;
    }
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 700px;
  }

  .header__btn {
    display: block;
  }

  .header__list {
    display: none;
  }

  .help {
    &__list-item {
      &::before {
        counter-increment: number;
        content: counter(number);
        position: absolute;
        color: $title;
        width: 15px;
        height: 15px;
        font-size: 18px;
        font-weight: 500;
      }
      font-size: 14px;
      &:nth-child(odd) {
        margin-left: -35px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 27px;
      }
      &:nth-child(odd) {
        text-align: center;
      }
      &:nth-child(odd)::before {
        margin-left: -26px;
      }
      &:nth-child(even)::before {
        margin-left: -27px;
      }
    }

    &__list {
      gap: 18px;
      grid-template-columns: repeat(1, 0fr);
      grid-template-rows: repeat(4, 0fr);
      justify-content: center;
      counter-reset: number;
      &::after {
        display: none;
      }
    }
  }

  .stages__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .top {
    &__inner {
      justify-content: center;
      margin-top: 10px;
    }

    &__img {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 580px;
  }

  .problems {
    &__list-item {
      text-align: center;
    }
    &__title {
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
    }
    &__solve-text {
      font-size: 20px;
      max-width: 460px;
    }
    &__box-list {
      flex-direction: column;
    }
  }

  .request__right-text {
    max-width: 530px;
  }
}

@media (max-width: 660px) {
  .container {
    max-width: 480px;
  }
  .help__title {
    font-size: 22px;
    max-width: 460px;
  }
  .services__title,
  .stages__title,
  .request__left-title {
    font-size: 26px;
    max-width: 460px;
  }
  .request__right-text {
    max-width: 460px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 350px;
  }
  .top {
    &__inner {
      justify-content: flex-start;
    }
    &__content-title {
      line-height: 34px;
      min-width: 350px;
      font-size: 25px;
    }
    &__content-text {
      font-size: 24px;
      margin-bottom: 34px;
    }
  }
  .problems {
    &__title {
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
    }
    &__solve-text {
      font-size: 20px;
      max-width: 360px;
    }
    &__box-list {
      flex-direction: column;
    }

    &__dropdown-text {
      font-size: 16px;
      max-width: 360px;
    }
    &__dropdown-title {
      font-size: 18px;
      max-width: 360px;
      line-height: 20px;
    }

    &__dropdown {
      max-width: 340px;
      margin: 49px auto;
      text-align: center;
    }

    &__list-item {
      margin: 0;
      text-align: center;
    }
  }

  .help {
    &__title {
      font-size: 22px;
      max-width: 360px;
    }
    &__list-item {
      max-width: 360px;
      &:nth-child(even) {
        margin-left: 0px;
        text-align: left;
      }
      &:nth-child(odd) {
        margin-left: 0px;
        text-align: left;
      }
    }

    &__list {
      justify-content: start;
      margin-left: 50px;
    }
  }

  .services__title,
  .stages__title,
  .request__left-title {
    font-size: 22px;
    max-width: 360px;
  }

  .request {
    &__right-text {
      max-width: 360px;
      line-height: 18px;
    }

    &__form-input {
      max-width: 340px;
    }

    &__form-area {
      max-width: 340px;
      height: 80px;
      margin-bottom: 32px;
      padding: 16px 23px 11px 16px;
    }
  }

  .stages__list {
    margin-left: 50px;
  }

  .footer__social {
    flex-direction: column;
  }
}
